<ng-container>
    <section class="login-container">
        <h1 class="top-heading">Login</h1>
        <ng-container *ngIf="!(isEmailing$ | async)">
            <span class="form-heading">Enter your User Name and Password</span>
            <form [formGroup]="formGroup" (ngSubmit)="onLogin(formGroup.value)" class="form-group-container">
                <div class="form-control-container">
                    <div class="input-fields-container">
                        <input type="text" class="form-control center-text" formControlName="username"
                            placeholder="User Email" />
                    </div>
                    <div class="input-fields-container">
                        <input type="text" class="form-control center-text" formControlName="password"
                            placeholder="User Password" />
                    </div>
                    <button type="submit" class="submit-button" [disabled]="!formGroup.valid">Login</button>
                </div>
            </form>
        </ng-container>
        <ng-container *ngIf="isEmailing$ | async">Please check your email for your Magic Link</ng-container>
    </section>
</ng-container>