<ng-container>
    <section class="activate-device-container">
        <h1 class="top-heading">Activate Device</h1>
        <span class="form-heading">Enter your Activation Code</span>
        <form [formGroup]="formGroup" (ngSubmit)="onActivate(formGroup.value)" class="form-group-container">
            <div class="form-control-container">
                <div class="input-fields-container">
                    <input type="text" class="form-control center-text" formControlName="activationToken" autofocus
                        placeholder="Activation Code" />
                </div>
                <app-confirm-pin formControlName="pin"></app-confirm-pin>
                <button type="submit" class="submit-button" [disabled]="!formGroup.valid">Activate
                    Device</button>
            </div>
        </form>
    </section>
</ng-container>