.background {
  background-size: 100% 100% !important;
  height: 100vh !important;
  background-repeat: no-repeat !important;
  background-color: #FAF3EE!important;
}
.logo {
  padding: 5em;
  img {
    max-width: 160px;
   // height: 75px;
  }
}
