<ng-container>
    <section class="landing-page-container">
        <span class="form-heading">What would you like to do?</span>
        <div class="stacked-buttons">
            <button class="submit-button" (click)="onAddUser()">Add a User to this Device</button>
            <button class="submit-button" (click)="onAddDevice()">Add a Device for an Existing User</button>
            <button class="submit-button" (click)="onResetPin()">Reset your PIN on this Device</button>
            <button class="submit-button" (click)="onLogin()">Login</button>
            <span>(Login users previously registered on this device)</span>
        </div>
    </section>